<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container mt-5">
        <div class="jumbotron card border-secondary text-center w-50 mx-auto mt-2">
            <ul class="nav nav-tabs row-6 mx-auto">
                <li class="row-3"><a href="#menu1">Connexion</a></li>
                <li class="row-3"><a href="#menu2">Inscription</a></li>
            </ul>
            <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active">
                    <form class="form-signin">
                        <img class="mt-5" src="img/letter_e.png" alt="" width="50" height="50">
                        <h3 class="mb-5 font-weight-normal">Veuillez vous connecter </h3>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Mot de Passe</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required="">
                        <div class="checkbox mb-3">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
                        <label class="text-primary mt-3"><a href="#"> Mot de passe oublié</a></label>
                    </form>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <form class="form-signin">
                        <img class="mt-5" src="img/letter_e.png" alt="" width="50" height="50">
                        <h3 class=" mb-5 font-weight-normal">Veuillez vous connecter </h3>
                        <label for="inputEmail" class="sr-only">Nom</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Nom" required="" autofocus="">
                        <label for="inputEmail" class="sr-only">Prenom</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Prenom" required="" autofocus="">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Mot de Passe</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required="">
                        <label for="inputPassword" class="sr-only">Confirmer le mot de Passe</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Confirmer le mot de Passe" required="">
                        <div class="checkbox mb-3">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
                        <label class="text-primary mt-3"><a href="#"> Mot de passe oublié</a></label>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
        });
    </script>

</body>

</html>