<!DOCTYPE html>

<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container">

            <div class="row text-center">
                <div class="col-2"></div>
                <div class="col-8">
                    <img src="img/attention.png" class="img-fluid" alt="Responsive image" width="120" height="70">

                </div>
                <div class="col-2"></div>
                <h1 class="text-primary mt-3">Impossible de trouver la page ou l'événement recherché.</h1>
                <div class="container">
                    <h3 class="text-secondary mt-3">Si vous pensez que ce message est une erreur, veuillez <span class="text-info">nous contacter</span>.</h3>
                    <div class="row text-center">
                        <div class="col"></div>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col"> <button type="button" class="btn  btn-primary btn-block">Créer un événement</button></div>
                                <div class="col"> <button type="button" class="btn  btn btn-secondary btn-block">Trouver un événement</button></div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="column  d-flex justify-content-center flex-row mt-3">
                        <div class="p-2">
                            <a href="#" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <img src="img/facebook.png" class="img-circle" alt="facebook-logo" style="width:30px ;height:30px">
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                        <div class="p-2">
                            <a href="#" class="btn btn-lg btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <img src="img/twitter.png" class="img-circle" alt="facebook-logo" style="width:30px ;height:30px">
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                        <div class="p-2">

                            <a href="#" class="btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                                <img src="img/google.png" class="img-circle" alt="facebook-logo" style="width:30px ;height:30px">
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


</body>

</html>